_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
Gemfile.lock
.vscode/
_includes/footer.html
.pytest_cache
_python/__pycache__
_drafts/
.coverage
_pages/SBOM.md
urls-only.txt
htmlcov/
