## Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
.bundle/config
vendor
Gemfile.lock

## macOS
.DS_Store
.vscode/

## Files
_drafts/
urls-only.txt
run.sh

# Python & coverage
__pycache__/
.coverage
.coverage.*
htmlcov/
.pytest_cache
_python/__pycache__
_python/local/config.py
_python/local/__pycache__/
.venv
