---
layout: default
title:
---

<div class="filter">
  Read about:<span>
    <a href="#" class="topic" data-name="productivity">Productivity</a> |
    <a href="#" class="topic" data-name="dev">Dev</a> |</span>
    <a href="#" class="topic" data-name="runs">Running</a> |
    <a href="#" class="topic" data-name="lists">Lists</a> |
    <a href="#" class="topic" data-name="chelsea">Chelsea</a> |
    <a href="#" class="topic" data-name="stats">Stats</a> |
    <a href="#" class="topic" data-name="other">Other</a> |</span>
</div>

<div id="blog-archives">
{% for post in site.posts reverse %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  <h2>{{ year }}</h2>
{% endunless %}
<article>
  {% include archive_post.html %}
</article>
{% endfor %}
</div>


<p style="font-size: 12px; margin-top: 30px">
  <a href="/archives">A total of <b id="shown">{{ site.posts | size }}</b> posts</a>.
