
/* ---------------------------------- */
/* ----------  Font Setup  ---------- */
/* ---------------------------------- */

@font-face {
    font-family: "TheChelsLight";
    src: url("fonts/TheChelsLight.woff") format("woff");
}

@font-face {
    font-family: "TheChelsMedium";
    src: url("fonts/TheChelsMedium.woff") format("woff");
    font-weight: bold;
}

/* ---------------------------------- */
/* ---------------------------------- */
/* ----------  Main Styles ---------- */
/* ---------------------------------- */

html,
body {
    height: 100%;
}

body {
    border-top: 0;
    margin: 0;
    font-family: var(--font-stack);
    color: #04100d;
    font-size: 0.95em;
    background: #ffffff;
    box-sizing: border-box;
}

#outer-wrapper {
    border-top: 0;
    min-height: 80%;
    margin-bottom: -40px;
}

#wrapper {
    width: 860px;
    margin: 1px auto;
    padding: 0px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.page,
.page-break {
    break-after: page;
}

.blog-bar,
.blog-avatar,
.blog-title,
.blog-slogan,
.blog-menu,
.blog-image,
.footer,
.sr-only,
.post-title,
#header,
#footer {
    display: none;
}

.book-list .book {
    display: flex;
}

.book-list {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    max-width: 860px;
}

.book-list .book-img {
    flex-shrink: 0;
    width: 90px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #04100d;
    font-family: var(--header-stack);
    position: relative;
    display: block;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    color: #04100d;
}

:is(h1, h2, h3, h4, h5, h6) a {
    text-decoration: none;
    color: #04100d;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}

h1 {
    color: #04100d;
}

h3 {
    border-bottom: #005ca3 dashed 2px;
}

article,
ol li,
ul li {
    margin-bottom: 7px;
    line-height: 1.4;
}

article,
ul ul,
ol ol,
ol ul,
ul ol {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    line-height: 1.4;
}

a {
    color: #295147;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.codeblock {
    font-family: var(--font-mono);
    border: 0.125em solid #005ca3;
    border-radius: 1em;
    font-size: 0.9em;
    padding: 0.625em;
}

pre,
code {
    font-family: var(--font-mono);
    font-size: 0.75em;
}

pre>code {
    font-family: var(--font-mono);
    font-size: 0.9em;
}

blockquote,
cite {
    padding: 0 1em;
    border-left: 0.25em solid #cec452;
    width: 90%;
    margin-left: 0.625em;
}

.footnote {
    font-size: 0.75em;
    color: #04100d;

    sup {
        color: #04100d;
        margin-right: 5px;
    }
}

.post {
    position: relative;

    >h2 {
        margin-top: 60px;
        margin-right: 130px;
    }
}

.entry {
    margin-bottom: 20px;
}

.meta {
    color: #005ca3;
    display: block;
    float: right;
    margin-right: 0;
    display: block;
    font-size: 12px;
}

.posts {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 12px;
}

.poster {
    width: 100px;
    vertical-align: top;
}

.floated {
    float: left;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 10px;
}

.content {
    position: relative;
}
