<div class="footer">
  <div class="wrapper">
  <p>&copy; {{ site.time | date: '%Y' }}
     {% if site.copyright %}
         {{ site.copyright }}
         {% else %}
     {% endif %} |
    <a href="//feeds/feed.json">Feed (json)</a> |
    <a href="//feeds/feed.xml">Feed (xml)</a> |
    <a href="https://twitter.com/tocfcws">@tocfcws</a>
    </p>
    <p> Mat is an Engineering Manager and works for a FinTech in the United Kingdom. You can [read more here](https://github.com/MatBenfield)</p>
  </div>
</div>
