
    {% assign min = 1 %}
    {% assign max = site.data.offers.size %}
    {% assign diff = max | minus: min %}
    {% assign item = "now" | date: "%N" | modulo: diff | plus: min %}
    {% assign offer = site.data.offers[item] %}

<p><center>***</center></p>
<p> // Published {{ post.date | date: "%Y-%m-%d" }}, with {{ post.content | number_of_words }} words.</p>
<hr />
<p>💬 Thanks for keeping RSS alive. If you have an RSS feed please share it with me on any of these <a
        href="https://links.thechels.uk">socials</a> or <a href="https://thechels.uk/c/ama">AMA / Contact me</a>.
        If you get value from this site, please share this post with someone you think will like it and support me with a <a
        href="https://ko-fi.com/thechelsuk">ko-fi</a>.</p>
<p>Finally, here is a special sponsor/advert link just for you; <a rel="sponsored"
        href="{{offer.link}}">{{offer.title}}</a> [T&Cs apply].</p>
