     </div>
  </div>
</div>
    <div class="footer">
      <div class="wrapper">
        <p>&copy; {{ site.time | date: '%Y' }}
         {% if site.copyright %}
             <a href="{{ site.social.github }}">{{ site.copyright }}</a> | 
             {% else %}
         {% endif %}
        <a href="{{ site.url }}/feeds/feed.json">Feed</a> |
        <a href="{{ site.url }}/links">Links</a>  | 
        <a href="https://morning.thechels.uk">Morning</a> |
        <a href="{{ site.social.twitter }}">{{ site.social.twitterid }}</a> |
        <a href="{{ site.github.repository_url }}/tree/{{ site.github.branch }}/{{ page.relative_path }}">Edit</a>
        </p>
      </div>
  </div>
  </body>
</html>
