</main>
</div>
<footer role="contentinfo" id="footer" class="flow">
  <p class="footer-copyright">
    <img src="{{ site.owner.avatar }}" alt="{{ site.owner.name }}" width="18" height="18" class="footer-avatar"> &copy;
    {{ site.time | date: '%Y' }} {{ site.owner.name }} | Last Build:
    {{ site.github.build_revision | slice: 0, 12 }}
  </p>
  <p class="footer-links">
    {% unless page.url == "/" %}
    <a href="{{ site.url }}{{ page.url | remove:'index.html' | strip_slash }}.md">MD</a>
    {% endunless %}
    {% for item in site.navigation_footer %}
    <a href="{{item.link}}">{{item.title}}</a>
    {% endfor %}
  </p>
</footer>
</div>
<a href=" #top" class="back-to-top" name="back-to-top">↑</a>
<script src="{{ site.baseurl }}/app.js"></script>
</body>
</html>