<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="origin">
    <title>{{ page.title | default: post.title }}</title>
    <meta name="title" content="{{ page.title | default: post.title }} | {{ site.title }}">
    <meta name="description"
      content="{{ page.seo | default: post.seo | default: page.title | default: post.title }} | {{ site.title }}">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title"
      content="{%if page.title %}{{ page.title }}{% else %}{{ post.title }}{% endif %} | {{ site.title }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}{{ site.defaultImagePath }}">
    <meta property="og:site_name" content="{{ site.title }} {{ site.description }}">
    <meta property="og:description"
      content="{{ page.seo | default: post.seo | default: page.title | default: post.title }} | {{ site.title }}">
    <meta property="article:publisher" content="{{ site.url }}">
    <meta property="article:author" content="{{ site.author }} at {{site.url }}">
    <meta property="article:published_time" content="{{ page.date }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="theme-color" content="#005CA3">
    <meta name="robots" content="index,follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-title" content="Mat B">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="/fonts/TheChelsLight.woff" rel="preload" crossorigin as="font" type="font/woff">
    <link href="/fonts/TheChelsMedium.woff" rel="preload" crossorigin as="font" type="font/woff">

    <link rel="preload" href="/style.css" as="style">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" media="print" href="/style_print.css">
    <link rel="manifest" href="/manifest.json" fetchpriority="low">
    <link rel="indieweb" href="/indieweb.txt" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} xml" href="{{ site.url }}/feed.xml">
    <link rel="alternate" type="application/json" title="{{ site.title }} json" href="{{ site.url }}/feed.json">
    <link rel="alternate" type="application/rss+xml" title="Daily Rundown" href="{{ site.url }}/daily.rss">
        <link rel="alternate" type="application/rss+xml" title="Film Reviews" href="{{ site.url }}/films.rss">
    <link rel="icon" href="/images/splashscreens/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/splashscreens/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="512x512" href="/images/splashscreens/apple-touch-icon-512x512.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/splashscreens/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/splashscreens/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/splashscreens/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/splashscreens/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/splashscreens/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/splashscreens/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/splashscreens/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/splashscreens/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/splashscreens/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/splashscreens/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/splashscreens/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/splashscreens/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/splashscreens/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#f5f4f4">
    <meta name="msapplication-TileImage" content="/images/splashscreens/ms-icon-144x144.png">
    <meta name="theme-color" content="#f5f4f4">

    <link href="/images/splashscreens/apple-splash-2048-2732.png" rel="apple-touch-startup-image"
      media="(width: 1024px) and (height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-2732-2048.jpg" rel="apple-touch-startup-image"
      media="(width: 1024px) and (height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-1668-2388.jpg" rel="apple-touch-startup-image"
      media="(width: 834px) and (height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-2388-1668.jpg" rel="apple-touch-startup-image"
      media="(width: 834px) and (height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-1536-2048.jpg" rel="apple-touch-startup-image"
      media="(width: 768px) and (height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-2048-1536.jpg" rel="apple-touch-startup-image"
      media="(width: 768px) and (height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-1668-2224.jpg" rel="apple-touch-startup-image"
      media="(width: 834px) and (height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-2224-1668.jpg" rel="apple-touch-startup-image"
      media="(width: 834px) and (height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-1620-2160.jpg" rel="apple-touch-startup-image"
      media="(width: 810px) and (height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-2160-1620.jpg" rel="apple-touch-startup-image"
      media="(width: 810px) and (height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-1284-2778.jpg" rel="apple-touch-startup-image"
      media="(width: 428px) and (height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-2778-1284.jpg" rel="apple-touch-startup-image"
      media="(width: 428px) and (height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-1170-2532.jpg" rel="apple-touch-startup-image"
      media="(width: 390px) and (height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-2532-1170.jpg" rel="apple-touch-startup-image"
      media="(width: 390px) and (height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-1125-2436.jpg" rel="apple-touch-startup-image"
      media="(width: 375px) and (height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-2436-1125.jpg" rel="apple-touch-startup-image"
      media="(width: 375px) and (height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-1242-2688.jpg" rel="apple-touch-startup-image"
      media="(width: 414px) and (height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-2688-1242.jpg" rel="apple-touch-startup-image"
      media="(width: 414px) and (height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-828-1792.jpg" rel="apple-touch-startup-image"
      media="(width: 414px) and (height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-1792-828.jpg" rel="apple-touch-startup-image"
      media="(width: 414px) and (height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-1242-2208.jpg" rel="apple-touch-startup-image"
      media="(width: 414px) and (height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-2208-1242.jpg" rel="apple-touch-startup-image"
      media="(width: 414px) and (height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-750-1334.jpg" rel="apple-touch-startup-image"
      media="(width: 375px) and (height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-1334-750.jpg" rel="apple-touch-startup-image"
      media="(width: 320px) and (height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-640-1136.jpg" rel="apple-touch-startup-image"
      media="(width: 320px) and (height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link href="/images/splashscreens/apple-splash-1136-640.jpg" rel="apple-touch-startup-image"
      media="(width: 320px) and (height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link href="/images/splashscreens/apple-splash-640-960.jpg" rel="apple-touch-startup-image"
      media="(width: 320px) and (height: 480px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">

  </head>

  <body>
    <div id="outer-wrapper">
      <div id="wrapper">
        <header id="header">
          <ul class="skip-link-ul">
            <li>
              <a href="#main" class="skip-link">Skip to main content</a>
            </li>
          </ul>
          <div class="blog-title">
            <a href="{{ site.url }}">
              {% if site.title %}
              {{ site.title }}
              {% else %}
              {{ page.title }}
              {% endif %}</a> <sup class="asterisk" id="top" tabindex="0" title="Toggle light/dark mode">*</sup>
          </div>
          <div class="blog-image"></div>
          <p class="blog-slogan"
            {% assign slogans = site.data.slogans %}
            {% assign random_index = "now" | date: "%s" | modulo: slogans.size %}
            // {{ slogans[random_index] }}
          </p>
          <nav class="blog-menu">
            {% if page.id %}
            <a href="{{ site.url }}" title="Back to all posts">&larr; Back</a>
            {% else %}
            <a href="{{ site.url }}" title="Back to all home">&larr; Home</a>
            {% endif %}
            {% for item in site.navigation_header %}
            <a href="{{item.link}}">{{item.title}}</a>
            {% endfor %}
          </nav>
        </header>
        <div id="main" class="content">
          <script>
            (function () {
              function setTheme(mode) {
                document.documentElement.setAttribute('data-theme', mode);
                document.documentElement.classList.remove('dark-mode', 'light-mode', 'alt-mode');
                document.documentElement.classList.add(mode + '-mode');
              }
              // On load, set theme from localStorage or system preference
              var stored = localStorage.getItem('theme');
              var validModes = ['light', 'alt', 'dark'];
              if (stored && validModes.includes(stored)) {
                setTheme(stored);
              } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                setTheme('dark');
              } else {
                setTheme('light');
              }
              // Toggle on asterisk click or enter
              var asterisk = document.getElementById('top');
              if (asterisk) {
                asterisk.addEventListener('click', function () {
                  var current = document.documentElement.getAttribute('data-theme');
                  var nextIdx = (validModes.indexOf(current) + 1) % validModes.length;
                  var next = validModes[nextIdx];
                  setTheme(next);
                  localStorage.setItem('theme', next);
                });
                asterisk.addEventListener('keydown', function (e) {
                  if (e.key === 'Enter' || e.key === ' ') {
                    asterisk.click();
                    e.preventDefault();
                  }
                });
              }
            })();
          </script>