feedparser
requests>=2.33.0
pathlib
datefinder
yahoo_fin
pandas
requests_html
argparse
pyyaml
pytest>=9.0.3
pytest-cov
pytest-md
pytest-emoji
yapf
lxml_html_clean==0.4.4
yfinance
pillow>=12.2.0
ruamel.yaml
markdownify