{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>
<p>
    <small>
        <b>{{ site.data.blogroll | size }}</b> blog subscriptions.
    </small>
</p>
<p>Click the link to go to the site, alternatively use the Feed link to subscribe to the RSS/Atom/JsonFeed.</p>
{% assign sorted = site.data.blogroll | sort: 'title' %}
<ul>
    {% for item in sorted %}
    <li>
        <a href="{{item.htmlUrl}}">{{item.title}}</a> [<a href="{{ item.xmlUrl}}">feed</a>] &#11084;
    </li>
    {% endfor %}
</ul>
{% include footer.html %}