{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>
{% assign posts = site.bookmarks | reverse %}

{{ content }}

<p class="marker"><b>{{ posts | size }}</b> total posts.</p>

<div id="blog-archives" class="flow">

    {% for post in posts %}
    <div class="posts">
        {% include post_icon.html type=post.type %} <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="meta">// {{post.i_type}}, {{ post.content | number_of_words }} words on
            {{ post.date | date: "%-d %B %Y" }}.</span>
    </div>
    {% endfor %}

</div>
{% include footer.html %}
