{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>
<p>A List of all the books in my collection. I prefer digital formats over physical copies.
  I own a Kindle but tend to use Apple books more often.</p>
<p><b>{{ site.data.read | size }}</b>.</p>
<div class="book-list">
  {% assign books = site.data.read | sort: "dateFinished" | reverse %}
  {% for book in books %}
  <div class="book">
    <div class="book-img">
      <img src="/images/books/book-{{book.isbn}}.png" alt="cover of {{book.title}}"
        title="{{ book.dateFinished | date: '%B, %Y' }}" />
    </div>
  </div>
  {% endfor %}
</div>
{% include footer.html %}