<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} — {{ site.name }}</title>
        {% include meta.html %}
  </head>
  <body>
    <div id="outer-wrapper">
      <div id="wrapper">

        {% include header.html %}

        <div class="content">

          <a href="/pages/pages" class="back-to-front" title="Back to pages">&larr; back</a>

          <h2>{{ page.title }}</h2>

          {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="/js/master.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="/js/tablesorter.js"></script>
    <script>$(function(){$("table").tablesorter({ widgets: ['zebra'] }); });</script>
  </body>
</html>
