<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="title" content="{{ site.title }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="HandheldFriendly" content="True" />
    <meta name="theme-color" content="#005CA3" />
    <link rel="stylesheet" href="/css/master.css?v=2022">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} xml" href="{{ site.url }}/feed.xml">
    <link rel="alternate" type="application/json" title="{{ site.title }} json" href="{{ site.url }}/feeds/feed.json">
    <title>{{ site.title }}</title>
  </head>
  <body>
    <div id="outer-wrapper">
      <div id="wrapper">
        {% avatar MatBenfield size=50 %
        <h1 class="blog-title">
  <a href="/">{% if site.title %}
         {{ site.title }}
         {% else %} 
     {% endif %}</a>
</h1>

<p class="blog-author">by
   {% if site.author %}
         {{ site.author }}
         {% else %}
     {% endif %}</p>
<p class="blog-slogan">
    {% if site.description %}
         {{ site.description }}
         {% else %}
     {% endif %}
</p>
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="footer">
  <div class="wrapper">
  <p>&copy; {{ site.time | date: '%Y' }}
     {% if site.copyright %}
         {{ site.copyright }}
         {% else %}
     {% endif %} | 
    <a href="{{ site.url }}//feeds/feed.json">JSON</a> |
    <a href="{{ site.url }}//humans.txt">Humans</a>  | 
    <a href="https://morning.thechels.uk">Morning</a> |
    <a href="{{ site.social.twitter }}">{{ site.social.twitterid }}</a> |
    <a href="{{ site.social.github }}">GitHub</a> |
    <a href="{{ site.github.repository_url }}/tree/{{ site.github.branch }}/{{ page.relative_path }}">Edit</a>
    </p>
  </div>
</div>

  </body>
</html>
