{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>
{% include img.html %}

{{ content }}

<hr />

<h2>So... What now</h2>

<p>
    Go <a href="/">← Back</a> to homepage to read a blog post, or perhaps check out other
    <a href="https://links.thechels.uk">Links</a> around the web.
</p>
<p>
    Below is a summary of the content and data on this site as a bonus for visiting this special page.
</p>

<h2>Content Summary</h2>

<ul>
    <li><b>{{ site.posts | size }}</b> posts written.</li>
    <li><b>{{ site.rss | size }}</b> RSS only posts written.</li>
    <li><b>{{ site.pages | size }}</b> pages written.</li>
    <li><b>{{ site.ways | size }}</b> ways written.</li>
</ul>

<h2>Site Data Summary</h2>

<ul>
    <li><b>{{ site.data.offers | size }}</b> offers available.</li>
    <li><b>{{ site.data.blogroll | size }}</b> blog subscriptions.</li>
    <li><b>{{ site.data.podcasts | size }}</b> podcast subscriptions.</li>
    <li><b>{{ site.data.teams | size }}</b> teams seen live.</li>
    <li><b>{{ site.data.read | size }}</b> books in library.</li>
    <li><b>{{ site.data.quotes | size }}</b> quotes stored.</li>
    <li><b>{{ site.data.doctrine | size }}</b> doctrine stored.</li>
    <li><b>{{ site.data.stocks | size }}</b> stocks monitored.</li>
    <li><b>{{ site.data.constraints | size }}</b> constraint cards.</li>
    <li><b>{{ site.data.jokes | size }}</b> jokes written.</li>
</ul>

<h2>Site Metadata Summary</h2>

<ul>
    <li><b>{{ site.navigation_slashes | size }}</b> slash page links.</li>
    <li><b>{{ site.data.slogans | size }}</b> site sub-headings.</li>
    <li><b>{{ site.navigation_header | size }}</b> navigation items.</li>
    <li><b>{{ site.navigation_data | size }}</b> data links.</li>
</ul>

<h2>Personal Data Summary</h2>

{% assign sorted = site.data.since | sort: 'date' %}
{% assign build_epoch = site.time | date: '%s' %}
<ul>
    {% for item in sorted %}
    {% assign item_epoch = item.date | date: '%s' %}
    {% assign days_since = build_epoch | minus: item_epoch | divided_by: 86400 %}
    {% if days_since == 1 %}
    {% assign day_label = 'day' %}
    {% else %}
    {% assign day_label = 'days' %}
    {% endif %}
    <li><b>{{ days_since }}</b> {{ day_label }} since {{ item.label }} - ({{ item.date }})</li>

    {% endfor %}
</ul>
{% include footer.html %}