{% include header.html %}
<meta name="robots" content="noindex">
<h1 class="post-title">{{ page.title }}</h1>
{% include img.html %}


{{ content }}

<h2>What now?</h2>

<p>Go <a href="/">← Back to homepage</a>, or perhaps check out other 
<a href="https://links.thechels.uk">Links</a>.</p>


<h2>Content Summary</h2>

<ul>
 <li>{{ site.posts | size }}</b> posts written.</li>
 <li>{{ site.rss | size }}</b> RSS only posts written.</li>
 <li>{{ site.pages | size }}</b> pages written.</li> 

 </ul>
 
<h2>Site Data Summary</h2>
<ul>
 <li>{{ site.data.offers | size }}</b> offers available.</li>
 <li>{{ site.data.blogroll | size }}</b> blog subscriptions.</li>
 <li>{{ site.data.podcasts | size }}</b> podcast subscriptions.</li>
 <li>{{ site.data.teams | size }}</b> teams seen live.</li>
 <li>{{ site.data.read | size }}</b> books in library.</li>
 <li>{{ site.data.slogans | size }}</b> site sub-headings.</li>
 <li>{{ site.data.quotes | size }}</b> quotes stored.</li>
 <li>{{ site.data.doctrine | size }}</b> doctrine stored.</li>
 <li>{{ site.data.stocks | size }}</b> stocks monitored.</li>
 <li>{{ site.data.constraints | size }}</b> constraint cards.</li> 


 <li>{{ site.navigation_header | size }}</b> navigation items.</li>
 <li>{{ site.navigation_data | size }}</b> data links.</li>
 <li>{{ site.navigation_slashes | size }}</b> slash page links.</li>
</ul>

{% include footer.html %}
