{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>

{{ content }}

{% assign posts = site.posts | where_exp: "post", "post.type != 'rss'" %}

<p class="marker"><b>{{ posts | size }}</b> total posts.</p>
<div id="blog-archives" class="flow">
  <h2>Recent Posts</h2>
  {% for post in posts limit:5 %}
  <div class="posts">
    {% include post_icon.html %}<a href="{{ post.url }}">{{ post.title }}</a>
    <span class="meta">// {{ post.content | number_of_words }} words on {{ post.date | date: "%-d %B %Y" }}.</span>
  </div>
  {% endfor %}

  {% assign min = 1 %}
  {% assign max = site.data.offers.size %}
  {% assign diff = max | minus: min %}
  {% assign item = "now" | date: "%N" | modulo: diff | plus: min %}
  {% assign offer = site.data.offers[item] %}
  <div class="posts" id="{{offer.id}}">
    {% include post_icon.html %} <a rel="sponsored" href="{{offer.link}}">{{offer.title}}</a>
    <span class="meta">// Sponsor/Advert, T&amp;Cs apply.</span>
  </div>

  <div class="flow clearfix">
    <p class="meta">Skip to:
      {% capture year_links %}
      {% for post in posts offset:5 %}
      {{ post.date | date: "%Y" }}
      {% endfor %}
      {% endcapture %}
      {% assign archive_years = year_links | split: " " | uniq | sort | reverse %}
      {% for y in archive_years %}
      <a href="/#{{ y }}" class="year">{{ y }}</a>{% unless forloop.last %} / {% endunless %}
      {% endfor %}
    </p>
  </div>

  {% for post in posts offset:5 %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% unless year == this_year %}
  {% assign year = this_year %}
  <h2 id="{{ year }}">{{ year }} Archive</h2>
  {% endunless %}
  <div class="posts">
    {% include post_icon.html %} <a href="{{ post.url }}">{{ post.title }}</a>
    <span class="meta">// {{ post.content | number_of_words }} words on {{ post.date | date: "%-d %B %Y" }}.</span>
  </div>
  {% endfor %}

  {% assign min = 1 %}
  {% assign max = site.data.offers.size %}
  {% assign diff = max | minus: min %}
  {% assign item = "now" | date: "%N" | modulo: diff | plus: min %}
  {% assign offer = site.data.offers[item] %}
  <div class="posts" id="{{offer.id}}">
    {% include post_icon.html %} <a rel="sponsored" href="{{offer.link}}">{{offer.title}}</a>
    <span class="meta">// Sponsor/Advert, T&amp;Cs apply.</span>
  </div>
</div>
{% include footer.html %}