{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>

{{ content }}

<h3>Quote of the day</h3>
{% assign min = 1 %}
{% assign max = site.data.quotes.size %}
{% assign diff = max | minus: min %}
{% assign item = "now" | date: "%N" | modulo: diff | plus: min %}
{% assign quote =  site.data.quotes[item] %}
<blockquote><p>{{ quote }}</p></blockquote>

<h3>Now &amp; Next</h3>
<small>Based on the now movement, an idea by <a href="https://sive.rs/nowff">Derek Sivers</a></small>
<ul class="now">
  {% for item in site.data.next %}
    <li>{{item}}</li>
  {% endfor %}
</ul>
{% include footer.html %}
