{% include header.html %}
<article class="h-entry flow">
  <h1 class="p-name post-title">{{ page.title }}</h1>

  <div class="e-content flow">
    {{ content }}

    {% if page.link and page.cited %}
    <p>&raquo;<a href="{{ page.link }}">{{page.cited}} &rarr;</a></p>
    {% elsif page.cited %}
    <p>&raquo; {{page.cited}}</p>
    {% endif %}
  </div>

  {% if page.id %}
  <p class="meta">
    // Published: <time class="dt-published"
      datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d %B %Y" }}</time>, with
    {{ page.content | number_of_words }} words. {%
    webmention_count page.url %} mentions.
  </p>

  <p class="webmentions">
    <a class="u-url" href="{{ page.url | absolute_url }}" class="hidden"></a>
    {% webmentions page.url %}
  </p>

  {% if page.class == 'indie' %}
  <p class="meta">
    <a href="https://news.indieweb.org/en" class="u-syndication">Also posted on IndieNews</a>
  </p>
  {% endif %}


  {% endif %}
</article>
{% if page.publish_to_fed %}
<a class="u-bridgy-fed" href="https://fed.brid.gy/" hidden="from-humans"></a>
{% endif %}


{% include footer.html %}