{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>
{% include img.html %}
{{ content }}

<h2>Slash Pages</h2>

<p>Here is my take with a few additional items that might catch on.</p>

<nav id="submenu" aria-label="submenu of slash pages">
    <ul>
        {% assign sorted_navigation_slashes = site.navigation_slashes | sort:
        'title' %} {% for item in sorted_navigation_slashes %}
        <li>// <a href="{{item.link}}">{{item.title}}</a></li>
        {% endfor %}
    </ul>
</nav>

<h2>Data Pages</h2>

<p>Pages focused on showing data, either incoming feeds from other services, or local data sources made available.</p>

<nav id="datamenu" aria-label="submenu of data items">
    <ul>
        {% assign sorted_navigation_data = site.navigation_data | sort:
        'title' %} {% for dataitems in sorted_navigation_data %}
        <li>// <a href="{{dataitems.link}}">{{dataitems.title}}</a></li>
        {% endfor %}
    </ul>
</nav>

<h2>Archives </h2>

<p>Post archives by type.</p>

<nav id="archivemenu" aria-label="submenu of post type items">
    <ul>
        {% assign sorted_nav_archives = site.navigation_archives | sort: 'title' %}
        {% for item in sorted_nav_archives %}
        <li>// <a href="{{item.link}}">{{item.title}}</a></li>
        {% endfor %}
    </ul>
</nav>

{% include footer.html %}