{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>
{% include img.html %}
{{ content }}

<nav id="submenu" class="blog-menu">
    <ul>
        {% assign sorted_navigation_slashes = site.navigation_slashes | sort:
        'title' %} {% for item in sorted_navigation_slashes %}
        <li>// <a href="{{item.link}}">{{item.title}}</a></li>
        {% endfor %}
    </ul>
</nav>

<h2>Data</h2>

<nav id="datamenu" class="blog-menu">
    <ul>
        {% assign sorted_navigation_data = site.navigation_data | sort:
        'title' %} {% for dataitems in sorted_navigation_data %}
        <li>// <a href="{{dataitems.link}}">{{dataitems.title}}</a></li>
        {% endfor %}
    </ul>
</nav>

{% include footer.html %}