{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>
<p class="marker"><b>{{ site.data.videos | size }}</b> videos published.</p>

{{ content }}

<div id="blog-archives" class="flow">
  {% assign videos = site.data.videos | sort: "date" | reverse %}
  {% for video in videos %}
  {% assign rating_count = video.rating_count | default: 0 | plus: 0 %}
  {% capture meta %}{% if video.views %}{{ video.views }} views{% endif %}{% if rating_count > 0 %}{% if video.views %},
  {% endif %}{{ video.rating_average }} stars{% endif %}{% if video.date %}{% if video.views or rating_count > 0 %}
  {% endif %} on {{ video.date | date: "%-d %B %Y" }}{% endif %}{% endcapture %}
  <div class="posts">
    <a href="{{ video.link }}">{{ video.title }}</a> ⇗
    <span class="meta">// {{ meta | strip }}.</span>
  </div>
  {% endfor %}
</div>
{% include footer.html %}