{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>
{{ content }}
<div id="blog-archives" class="flow">
  <!-- videos_marker starts -->
<div class="posts">
  <h2>Use Shortkeys to replace text with icons</h2>
  <span class="meta">2025-12-27 // 289 views // 5.00/5 from 3 ratings</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/TAESNCybTz0">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>1.7.1 updated menu to Liquid Glass</h2>
  <span class="meta">2025-12-19 // 43 views // 0.00/5 from 0 ratings</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/gzCawumUqUk">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>1.7.1 released with new Liquid Glass navigation and search</h2>
  <span class="meta">2025-12-19 // 31 views // 0.00/5 from 0 ratings</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/0xg2Z1c1WK4">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>Tomoz - Liquid Glass icon set added</h2>
  <span class="meta">2025-12-01 // 13 views // 5.00/5 from 1 rating</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/WS0pQcBoqKI">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>Hiyd - Liquid Glass icon set added</h2>
  <span class="meta">2025-12-01 // 64 views // 5.00/5 from 1 rating</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/SurYW3Tdc5I">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>EngMan - Liquid Glass icon set added</h2>
  <span class="meta">2025-12-01 // 116 views // 5.00/5 from 1 rating</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/wt0KUCBbTF0">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>New version out now</h2>
  <span class="meta">2025-11-24 // 6 views // 5.00/5 from 1 rating</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/Nc7GzQElj-s">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>New version out now</h2>
  <span class="meta">2025-11-24 // 61 views // 5.00/5 from 1 rating</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/D22osLaY4oE">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>1.5.4 out now</h2>
  <span class="meta">2025-11-23 // 42 views // 5.00/5 from 1 rating</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/JhjwKW9Kov8">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>1.5.4 out now</h2>
  <span class="meta">2025-11-23 // 4 views // 5.00/5 from 1 rating</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/t5cT1jxwE8U">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>Apple News doesn’t understand what blocked’ means. How much ££ a month? #apple #applenews</h2>
  <span class="meta">2025-11-20 // 47 views // 5.00/5 from 1 rating</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/Lx7f4gzW1_A">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>ME/CFS debate at Westminster Hall - 2025-11-19</h2>
  <span class="meta">2025-11-19 // 124 views // 5.00/5 from 2 ratings</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/watch?v=pxVNhwD8Teg">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>Mltply - a free iOS app aimed at kids for learning maths. No ads, no tracking, no internet required.</h2>
  <span class="meta">2025-11-13 // 139 views // 5.00/5 from 1 rating</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/qlCOnK2LT4A">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>Tomoz and Hiyd now support shortcuts and app intents. New versions dropping soon.</h2>
  <span class="meta">2025-11-13 // 44 views // 5.00/5 from 1 rating</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/HGLV826MJGw">Watch on YouTube</a></li>
  </ul>
</div>

<div class="posts">
  <h2>Added reminders to view, bug fixes and improvements, download today.</h2>
  <span class="meta">2025-11-12 // 55 views // 5.00/5 from 1 rating</span>
  <ul>
    <li>‣ <a href="https://www.youtube.com/shorts/PeXC9qFe3fA">Watch on YouTube</a></li>
  </ul>
</div>


<!-- videos_marker ends -->
</div>
{% include footer.html %}