{% include header.html %}
<h1 class="post-title">{{ page.title }}</h1>
<p class="marker"><b>{{ site.ways | size }}</b> total ways.</p>
<div id="blog-archives" class="flow">
  {{ content }}
  <h2>Recent Ways</h2>
  {% for post in site.ways %}
  <div class="posts">
    <a href="{{ post.url }}">{{ post.title }}</a> {% include post_icon.html %}
    <span class="meta">// {{ post.content | number_of_words }} words on {{ post.date | date: "%-d %B %Y" }}.</span>
  </div>
  {% endfor %}


</div>
{% include footer.html %}